.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px;
}

.typing-container {
  font-family: monospace;
  font-size: 18px; /* Adjust font size as needed */
  width: 100%;
  max-width: 800px; /* Limit the width for readability */
  padding: 20px;
  border: 1px solid transparent;
  outline: none; /* Remove focus outline */
  overflow: hidden; /* Enable scrolling if needed */
  /* background-color: rgba(42, 209, 42, 0.322); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.typing-container:focus {
  border-color: #007bff;
}

.justified-text {
  text-align: justify; /* Justify the text */
  text-justify: inter-word; /* Adjust spacing between words */
}

.correct {
  color: green;
  background-color: rgba(41, 226, 41, 0.507);
}

.incorrect {
  color: red;
  background-color: rgba(226, 41, 41, 0.507);
}

span {
  white-space: pre;
}

.current-line {
  margin-bottom: 1px; /* Space between current line and preview */
  height : 30px;
  display: flex;
  justify-content: center;
}

.preview-line {
  color: gray; /* Optional: different color for the preview line */
  /* height : 30px; */
  display: flex;
  justify-content: center;
}

.popupContainer {
  height: 400px;
  width : 400px;
  background-color : rgb(115 255 96);
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: monospace;
  border-radius: 30px;  
}
.popupContainer h2 {
  /* height: 20px; */
  /* margin-bottom: 1px; */
}
.wpmContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 50px; */
  /* background-color: red; */
  margin-top: 10px;

}

button {
  height: 30px;
  border: none;
}

.timing {
  position:absolute;
  right: 0px;
  bottom: 0px;
  margin-bottom: 30px;
  margin-right: 40px;
   display: flex;
}
.timing button {
  margin-left: 30px;
}
.timing p {
  /* padding-bottom: 10px; */
  margin: 5px;
}

.dropbtn {
  /* background-color: #007bff; */
  /* color: white; */
  /* padding: 10px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn.active {
  background-color: #92ffab; /* Change to green when active */
}

.dropup-content button.active:hover {
  /* background-color: #218838; */
}