<div class="center-container">
  <div class="typing-container" (keydown)="onKeydown($event)" tabindex="0">
    <div class="current-line">
      <p class="justified-text">
        <span *ngFor="let char of getDisplayedLine(); let i = index" [ngClass]="getCharClass(i)">
          <span *ngIf="isSpace(char)">&nbsp;&nbsp;</span>
          <span *ngIf="!isSpace(char)">{{ char }}</span>
        </span>
      </p>
    </div>
    <div class="preview-line">
      <p class="justified-text">
        <span *ngFor="let char of getNextLine(); let i = index">
          <span *ngIf="isSpace(char)">&nbsp;</span>
          <span *ngIf="!isSpace(char)">{{ char }}</span>
        </span>
      </p>
    </div>
    <div class="countdown-container">
      <h1>{{ countdown }}</h1>
    </div>
  </div>
</div>
<div class="timing">
  <!-- <p>Time : </p> -->
  <button  class="dropbtn" [ngClass]="{'active': timingData === 10}" (click)="setTyping(10)">10 seconds</button>
  <button  class="dropbtn" [ngClass]="{'active': timingData === 30}" (click)="setTyping(30)">30 seconds</button>
  <button  class="dropbtn" [ngClass]="{'active': timingData === 60}" (click)="setTyping(60)">60 seconds</button>
</div>
<div class="popupContainer"*ngIf="showPopUp" (click)="closePopup()">
  <div class="wpmContainer">
    <h2>WPM {{grossWPM}}</h2>
  </div>
  <div class="otherWpmDetails">
    <h4>Net WPM : {{netWPM}}</h4>
    <h4>Accuracy : {{accuracy}} %</h4>
  </div>
  <button (click)="resetTyping()">Close</button>
</div>


<!-- <div class="footer"> -->

  <!-- <div class="dropup">
    <button class="dropbtn">Select Data Type</button>
    <div class="dropup-content">
      <button (click)="setDataType('words')">Words</button>
      <button (click)="setDataType('numbers')">Numbers</button>
      <button (click)="setDataType('sentences')">Sentences</button>
    </div>
  </div> -->
<!-- </div> -->
